Django>=1.9,<1.10
fabric==1.14
django-crispy-forms==1.5.2
django-model-utils>=2.2
ipdb
nose==1.3.7
django-formtools==1.0
ipython
pytz==2014.10
mercadopago==0.3.4
raven==5.7.2
django-nose==1.4.2
freezegun==0.3.5
djangoql==0.8.9
django-export-action==0.1.1