
        <dl class="dl-horizontal">

             <dt>Departamento</dt>
                    <dd>{{ reserva.departamento }}</dd>


                <dt>Fecha de llegada</dt>
                    <dd>{{ reserva.desde|date:"l j \d\e F \d\e Y" }} (desde las 14hs)</dd>
                <dt>Fecha de salida</dt>
                    <dd>{{ reserva.hasta|date:"l j \d\e F \d\e Y" }} (hasta las 10hs)</dd>



            {% if not ignorar_detalles %}

               <dt>Forma de pago</dt>
                  <dd>{{ reserva.get_forma_pago_display }}</dd>



                <dt>Nombre y apellido</dt>
                    <dd>{{ reserva.nombre_y_apellido }}</dd>
                <dt>Email</dt>
                    <dd>{{ reserva.email }}</dd>
                <dt>Teléfono</dt>
                    <dd>{{ reserva.telefono }}</dd>


            {% endif %}
        </dl>


      <!-- / end client details section -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <h4>Descripción</h4>
            </th>
            <th>
              <h4>Dias</h4>
            </th>
            <th>
              <h4>Precio por día</h4>
            </th>
            <th>
              <h4>Subtotal</h4>
            </th>
          </tr>
        </thead>
        <tbody>


      {% for temporada, item in reserva.detalle.items %}

        <tr>
            <td>{% if temporada|slice:":5" == "fuera" %}Dias fuera de temporada
                    {% else %}Dias en {{ temporada|lower }}{% endif %}</td>
            <td><div class="text-right">{{ item.0 }}</div></td>
            <td><div class="text-right">$ {{ item.1 }}</div></td>
            <td><div class="text-right">$ {{ item.2 }}</div></td>
          </tr>

        {% endfor %}


        {% if reserva.descuento.0 %}
          <tr>
            <td colspan="3"><p class="text-right" >Descuento por pago contado/transferencia: {{ reserva.descuento.0 }} % </p> </td>
            <td><div class="text-right">- ${{ reserva.descuento.1|floatformat:2 }}</div></td>
          </tr>
        {% endif %}
        {% for facturable in  reserva.facturables.all %}
          <tr>
            <td> {{ facturable.concepto }} </td>
            <td><div class="text-right"></div></td>
            <td><div class="text-right"></div></td>
            <td><div class="text-right">$ {{ facturable.monto|floatformat:2 }}</div></td>
          </tr>
        {% endfor %}

        <tr>
            <td colspan="3"><p class="text-right" > <strong>Total: </strong></p></td>
            <td><p class="text-right"><strong>$ {{ reserva.costo_total|floatformat:2 }}</strong></p></td>
          </tr>

  {% if reserva.id %}

    {% if reserva.estado == 'confirmada' %}
        <tr>
            <td colspan="3"><p class="text-right" > <br> <br><strong>Depósito de seña realizado </strong></p></td>
            <td><p class="text-right"><br> <br><strong>$ {{ reserva.deposito_reserva|floatformat:2 }} </strong></p></td>
          </tr>
          <tr>
            <td colspan="3"><p class="text-right" > <br> <br><strong>Saldo a abonar </strong></p></td>
            <td><p class="text-right"><br> <br><strong>$ {{ reserva.saldo|floatformat:2 }} </strong></p></td>
          </tr>

    {% elif reserva.estado == 'pendiente' %}
      {% comment %}
        
        <tr>
            <td colspan="3"><p class="text-right" > <br> <br><strong>Depósito de seña requerido ({{ reserva.deposito_requerido.0 }} %): </strong></p></td>
            <td><p class="text-right"><br> <br><strong>$ {{ reserva.deposito_requerido.1|floatformat:2 }} </strong></p></td>
          </tr>
        {% endcomment %}
      
    {% endif %}



      <tr>
            <td colspan="4">

            {% if reserva.estado == 'pendiente' %}

              <p class="text-center"><br>Esta reserva se encuentra <strong>pendiente</strong>{% if reserva.fecha_vencimiento_reserva%}. Vence el  <mark> {{ reserva.fecha_vencimiento_reserva|date:"l j \d\e F \d\e Y - H:i \h\s" }}</mark>{% endif %}</p>

            {% elif reserva.estado == 'confirmada' %}

              <p class="text-center"><br>Esta reserva está <strong>confirmada </strong>{% if reserva.fecha_deposito_reserva %} desde el {{ reserva.fecha_deposito_reserva|date:"l j \d\e F \d\e Y - H:i \h\s" }} {% endif %}</p>
            {% else %}

              <p class="text-center"><br>Esta reserva se encuentra
              <strong>vencida</strong> desde el {{ reserva.fecha_vencimiento_reserva|date:"l j \d\e F \d\e Y - H:i \h\s" }}</p>

            {% endif %}
            </td>

          </tr>
  {% endif %}


        </tbody>
      </table>



