
        <dl class="dl-horizontal">

             <dt>Departamento</dt>
                    <dd>{{ reserva.departamento }}</dd>


                <dt>Fecha de llegada</dt>
                    <dd>{{ reserva.desde|date:"l j \d\e F \d\e Y" }} (desde las 14hs)</dd>
                <dt>Fecha de salida</dt>
                    <dd>{{ reserva.hasta|date:"l j \d\e F \d\e Y" }} (hasta las 10hs)</dd>


            {% if not ignorar_detalles %}

                <dt>Nombre y apellido</dt>
                    <dd>{{ reserva.nombre_y_apellido }}</dd>
                <dt>Email</dt>
                    <dd>{{ reserva.email }}</dd>
                <dt>Teléfono</dt>
                    <dd>{{ reserva.telefono }}</dd>


            {% endif %}
        </dl>


      <!-- / end client details section -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <h4>Descripción</h4>
            </th>
            <th>
              <h4>Cantidad</h4>
            </th>
            <th>
              <h4>Precio unitario</h4>
            </th>
            <th>
              <h4>Subtotal</h4>
            </th>
          </tr>
        </thead>
        <tbody>


          {% if reserva.dias_alta %}
          <tr>
            <td>Dias en temporada alta {{ reserva.departamento.nombre }}</td>
            <td><div class="text-right">{{ reserva.dias_alta }}</div></td>
            <td><div class="text-right">$ {{ reserva.departamento.dia_alta }}</div></td>
            <td><div class="text-right">$ {{ reserva.detalle.alta }}</div></td>
          </tr>
          {% endif %}
          {% if reserva.dias_media %}
          <tr>
            <td>Dias en temporada media {{ reserva.departamento.nombre }}</td>
            <td><div class="text-right">{{ reserva.dias_media }}</div></td>
            <td><div class="text-right">$ {{ reserva.departamento.dia_media }}</div></td>
            <td><div class="text-right">$ {{ reserva.detalle.media }}</div></td>
          </tr>
          {% endif %}
          {% if reserva.dias_baja %}
          <tr>
            <td>Dias en temporada baja {{ reserva.departamento.nombre }}</td>
            <td><div class="text-right">{{ reserva.dias_baja }}</div></td>
            <td><div class="text-right">$ {{ reserva.departamento.dia_baja }}</div></td>
            <td><div class="text-right">$ {{ reserva.detalle.baja }}</div></td>
          </tr>
        {% endif %}
        {% if reserva.descuento.0 %}
          <tr>
            <td>Descuento por reserva mayor a 15 días</td>
            <td><div class="text-right">- {{ reserva.descuento.0 }} %</div></td>
            <td><div class="text-right">$ {{ reserva.descuento.1 }}</div></td>
            <td><div class="text-right">$ -{{ reserva.descuento.1 }}</div></td>
          </tr>
        {% endif %}
        {% for facturable in  reserva.facturables.all %}
          <tr>
            <td> {{ facturable.concepto }} </td>
            <td><div class="text-right"></div></td>
            <td><div class="text-right"></div></td>
            <td><div class="text-right">$ {{ facturable.monto }}</div></td>
          </tr>
        {% endfor %}

        <tr>
            <td colspan="3"><p class="text-right" > <strong>Total: </strong></p></td>
            <td><p class="text-right"><strong>$ {{ reserva.costo_total }}</strong></p></td>
          </tr>

  {% if reserva.id %}

    {% if reserva.estado == 'confirmada' %}
        <tr>
            <td colspan="3"><p class="text-right" > <br> <br><strong>Depósito de seña realizado </strong></p></td>
            <td><p class="text-right"><br> <br><strong>$ {{ reserva.deposito_reserva }} </strong></p></td>
          </tr>
          <tr>
            <td colspan="3"><p class="text-right" > <br> <br><strong>Saldo a abonar </strong></p></td>
            <td><p class="text-right"><br> <br><strong>$ {{ reserva.saldo }} </strong></p></td>
          </tr>

    {% elif reserva.estado == 'pendiente' %}
        <tr>
            <td colspan="3"><p class="text-right" > <br> <br><strong>Depósito de seña requerido ({{ reserva.deposito_requerido.0 }} %): </strong></p></td>
            <td><p class="text-right"><br> <br><strong>$ {{ reserva.deposito_requerido.1 }} </strong></p></td>
          </tr>



    {% endif %}



      <tr>
            <td colspan="4">

            {% if reserva.estado == 'pendiente' %}

              <p class="text-center"><br><strong>Fecha de vencimiento de la reserva pendiente</strong>:  <mark> {{ reserva.fecha_vencimiento_reserva|date:"l j \d\e F \d\e Y - H:i \h\s" }}</mark></p>

            {% elif reserva.estado == 'confirmada' %}

              <p class="text-center"><br>Esta reserva está <strong>confirmada </strong>{% if reserva.fecha_deposito_reserva %} desde el {{ reserva.fecha_deposito_reserva|date:"l j \d\e F \d\e Y - H:i \h\s" }} {% endif %}</p>
            {% else %}

              <p class="text-center"><br>Esta reserva se encuentra
              <strong>vencida</strong> desde el {{ reserva.fecha_vencimiento_reserva|date:"l j \d\e F \d\e Y - H:i \h\s" }}</p>

            {% endif %}
            </td>

          </tr>
  {% endif %}


        </tbody>
      </table>



