
            <dl>



                <dt>Departamento</dt>
                    <dd>{{ reserva.departamento }}</dd>
                <dt>Fecha de llegada</dt>
                    <dd>{{ reserva.desde|date:"l j \d\e F \d\e Y" }} (desde las 14hs)</dd>
                <dt>Fecha de salida</dt>
                    <dd>{{ reserva.hasta|date:"l j \d\e F \d\e Y" }} (hasta las 10hs)</dd>

                <dt>Nombre y apellido</dt>
                    <dd>{{ reserva.nombre_y_apellido }}</dd>
                <dt>Email</dt>
                    <dd>{{ reserva.email }}</dd>
                <dt>Teléfono</dt>
                    <dd>{{ reserva.telefono }}</dd>


                <dt>Dias en temporada alta</dt>
                    <dd>{{ reserva.dias_alta }}</dd>
                <dt>Dias en temporada media</dt>
                    <dd>{{ reserva.dias_media }}</dd>
                <dt>Dias en temporada media-baja</dt>
                    <dd>{{ reserva.dias_media_baja }}</dd>
                <dt>Dias en temporada baja</dt>
                    <dd>{{ reserva.dias_baja }}</dd>



                {% if reserva.descuento.0 %}
                    <dt>Descuento por pago contado/transferencia</dt>
                    <dd>$ {{ reserva.descuento.1|floatformat:2 }} ({{ reserva.descuento.0 }} %)</dd>
                {% endif %}

                <dt>Costo total</dt>
                    <dd>$ {{ reserva.costo_total|floatformat:2 }}</dd>

                {% if reserva.estado == 'pendiente' %}

                <dt>Depósito de seña requerido</dt>
                    <dd>$ {{ reserva.deposito_requerido.1|floatformat:2 }} ({{ reserva.deposito_requerido.0 }} %)</dd>

                <dt>Fecha de vencimiento de la reserva pendiente</dt>
                    <dd>{{ reserva.fecha_vencimiento_reserva|date:"l j \d\e F \d\e Y - H:i \h\s" }}</dd>


                {% endif %}


                <dt>Comentario o consulta</dt>
                    <dd>{{ reserva.comentario|default:"-" }}</dd>
                </dl>

            </dl>
