{% extends "base.html" %}

        {% block body %}

        <div class="row"></div>

                <div class="alert alert-success" >

    <strong>¡Felicitaciones!</strong>

    <p>Hemos recibido su solicitud y aguardaremos su depósito dentro de las próximas 48hs para dejar sus reserva confirmada.</p>

    <p>En breve recibirá un correo electrónico con las instrucciones para realizar el depósito. ¡Gracias por visitar Las Grutas!</p>

    </div>

    {% if reserva %}
    <h3>Información de su reserva pendiente</h3>

         {% include "as_invoice.html" %}


    {% endif %}


    {% endblock body %}
