<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Reservas La Calma</title>
        <link rel="stylesheet" href="{% static "daterangepicker.css"  %}"/>

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css"  %}"/>

            <style>
        #wrapper
        {
            width:800px;
            margin:0 auto;
            color:#333;
            font-family:Tahoma;
            line-height:1.5;
            font-size:14px;
        }
        </style>
        <body>

        <div id="wrapper">


                        <div class="alert alert-success" >

    <strong>¡Felicitaciones!</strong> Hemos recibido su solicitud. En breve recibirá un correo electrónico con las instrucciones para realizar una seña y confirmar su reserva.
    </div>



    </body>


</html>
