
Hay una nueva solicitud de reserva para  el {{ reserva.departamento }}:

    * Nombre: {{ reserva.nombre_y_apellido }}
    * Procedencia: {{ reserva.procedencia }}
    * Teléfono: {{ reserva.telefono }}
    * Email: {{ reserva.email }}

    * Conoció por: {{ reserva.get_como_se_entero_display }}

    * Fecha de llegada: {{ reserva.desde|date:"l j \d\e F \d\e Y" }} (desde las 14hs)
    * Fecha de salida: {{ reserva.hasta|date:"l j \d\e F \d\e Y" }} (hasta las 10hs)

    * Costo total: $ {{ reserva.costo_total|floatformat:2 }}

    * Fecha de vencimiento de reserva pendiente: {{ reserva.fecha_vencimiento_reserva|date:"l j \d\e F \d\e Y" }}

{% if reserva.comentario %}
Comentario del visitante:

    {{ reserva.comentario }}

{% endif %}
