
Hemos recibido su solicitud de reserva con los siguientes detalles:

    * Departamento: {{ reserva.departamento }}
    * Fecha de llegada: {{ reserva.desde|date:"l j \d\e F \d\e Y" }} (desde las 14hs)
    * Fecha de salida: {{ reserva.hasta|date:"l j \d\e F \d\e Y" }} (hasta las 10hs)
{% for temporada, item in self.detalle.items %}
    * Dias en {{temporada.nombre}}: ${{item.2}} ({{ item.0 }} dias){% endfor %}{%if reserva.descuento %}
    * Descuento por pago contado/transferencia $ {{ reserva.descuento.1|floatformat:2 }} ({{ reserva.descuento.0 }} %){% endif %}
    * Costo total: $ {{ reserva.costo_total|floatformat:2 }}

   * Fecha de vencimiento de la reserva pendiente:

        {{ reserva.fecha_vencimiento_reserva|date:"l j \d\e F \d\e Y - H:i \h\s" }}

    * Comentario o consulta:

        {{ reserva.comentario|default:"-"}}

Para confirmar, debe realizar el depósito por el monto de la reserva a la siguiente cuenta:

    CBU: 0170089340000045736623
    Alias: CARGO.OESTE.PASTEL
    Banco BBVA
    Titular: GAITAN WALTER EMILIO
    CUIT: 23102072189


Responda este mensaje con el comprobante de pago e inmediatamente su reserva estará confirmada.


Quedo a su entera disposición.

Graciela Lamothe
Complejo La Calma
Las Grutas - Patagonia Argentina

cel: 0299 154160450

ref: #{{ reserva.id }}