
Hemos recibido su solicitud de reserva con los siguientes detalles:


    * Departamento: {{ reserva.departamento }}
    * Fecha de llegada: {{ reserva.desde|date:"l j \d\e F \d\e Y" }} (desde las 14hs)
    * Fecha de salida: {{ reserva.hasta|date:"l j \d\e F \d\e Y" }} (hasta las 10hs)
{% for temporada, item in self.detalle.items %}
    * Dias en {{temporada.nombre}}: ${{item.2}} ({{ item.0 }} dias){% endfor %}{%if reserva.descuento %}
    * Descuento por pago contado/transferencia $ {{ reserva.descuento.1|floatformat:2 }} ({{ reserva.descuento.0 }} %){% endif %}
    * Costo total: $ {{ reserva.costo_total|floatformat:2 }}

    * Depósito de seña requerido: $ {{ reserva.deposito_requerido.1|floatformat:2 }} ({{ reserva.deposito_requerido.0 }} %)

   * Fecha de vencimiento de la reserva pendiente:

        {{ reserva.fecha_vencimiento_reserva|date:"l j \d\e F \d\e Y - H:i \h\s" }}

    * Comentario o consulta:

        {{ reserva.comentario|default:"-"}}

Para confirmar, debe realizar un deposito del 50% a la siguiente cuenta:

    Caja de Ahorro en Pesos Nº 25403769081732
    Banco de la Nación Argentina
    Sucursal 2540
    Titular: Graciela Lamothe Coulomme
    CBU 0110376030037690817329

Responda este mensaje con el comprobante de pago e inmediatamente su reserva estará confirmada.


Quedo a su entera disposición.

Ing. Graciela Lamothe
Complejo La Calma
Las Grutas - Patagonia Argentina

cel: 0299 154160450

ref: #{{ reserva.id }}