
Hemos recibido su solicitud de reserva con los siguientes detalles:


    * Departamento: {{ reserva.departamento }}
    * Fecha de llegada: {{ reserva.desde|date:"l j \d\e F \d\e Y" }} (desde las 14hs)
    * Fecha de salida: {{ reserva.hasta|date:"l j \d\e F \d\e Y" }} (hasta las 10hs)
    * Dias en temporada alta: {{ reserva.dias_alta }}
    * Dias en temporada media: {{ reserva.dias_media }}
    * Dias en temporada alta: {{ reserva.dias_baja }}
    * Costo total: $ {{ reserva.costo_total }}


Para confirmar, debe realizar un deposito del 50% a la siguiente cuenta


    Caja de Ahorro en Pesos Nº 6886076973
    Banco HSBC Bank Argentina
    Titular: Martín E. Gaitán
    CUIT: 20-29224785-1
    CBU 1500688400068860769732

Responda este mensaje con el comprobante de pago e inmediatamente su reserva estará confirmada.


Quedo a su entera disposición

Ing. Martín Gaitán
Complejo La Calma
Las Grutas - Patagonia Argentina