{% extends "base.html" %}

    {% block body %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

        <table class="table">

            <tr>
                <th>Temporada {% if desde != hasta %}{{desde}}-{{hasta}}{%else %}{{ desde}}
                {% endif %}  </th>
                <th></th>
                <th>1 y 4</th>
                <th>2 y 3</th>
            </tr>

            {% for temporada in temporadas %}

              {% ifchanged temporada.desde temporada.hasta %}
                <tr>
                <td>{{ temporada.nombre|title }}</td>
                <td>Desde el {{ temporada.desde|date }} hasta {{ temporada.hasta|date }}</td>
              {% endifchanged %}

                <td>$ {{temporada.precio }}</td>
              {% ifchanged temporada.desde temporada.hasta %}{% else %}</tr>{% endifchanged %}
            {% endfor %}

        </table>


        </div>
    </div>

    {% endblock body %}
