
Hay una nueva solicitud de reserva para  el {{ reserva.departamento }}:

    * Nombre: {{ reserva.nombre_y_apellido }}
    * Procedencia: {{ reserva.procedencia }}
    * Teléfono: {{ reserva.telefono }}
    * Email: {{ reserva.email }}

    * Conoció por: {{ reserva.get_como_se_entero_display }}

    * Fecha de llegada: {{ reserva.desde|date:"l j \d\e F \d\e Y" }} (desde las 14hs)
    * Fecha de salida: {{ reserva.hasta|date:"l j \d\e F \d\e Y" }} (hasta las 10hs)

    * Dias en temporada alta: {{ reserva.dias_alta }}
    * Dias en temporada media: {{ reserva.dias_media }}
    * Dias en temporada baja: {{ reserva.dias_baja }}{% if reserva.descuento.0 %}
    * Descuento por quincena aplicado: $ {{ reserva.descuento.1 }} ({{ reserva.descuento.0 }} %){% endif %}
    * Costo total: $ {{ reserva.costo_total }}

    * Depósito de seña requerido: $ {{ reserva.deposito_requerido.1 }} ({{ reserva.deposito_requerido.0 }} %)

    * Fecha de vencimiento de reserva pendiente: {{ reserva.fecha_vencimiento_reserva|date:"l j \d\e F \d\e Y" }}

{% if reserva.comentario %}
Comentario del visitante:

    {{ reserva.comentario }}

{% endif %}
