Estimado/a {{ incripcion.nombre_completo }}:

Hemos recibido su solicitud de insripción a {{ inscripcion.retiro }} a realizarse en
la ciudad de {{ inscripcion.retiro.ciudad }} desde el {{ inscripcion.retiro.desde|date:"l j \d\e F \d\e Y" }}.

El costo total es de ${{ inscripcion.retiro.precio }}. Debe realizar un depósito o transferencia bancaria por este importe a la siguiente cuenta:

    BBVA Banco Francés
    Cuenta Corriente en pesos Nº 174-1927/1
    Centro Internacional de Yoga Sivananda
    CBU 0170174220000000192716

Tenga en cuenta que los cupos son limitados. La fecha de vencimiento de esta
pre-inscripción es el {{ inscripcion.fecha_vencimiento_reserva|date:"l j \d\e F \d\e Y - H:i \h\s" }}.

Responda este mensaje con el comprobante de pago para confirmar sus incripción

Quedamos a su entera disposición

Centro Internacional de Yoga Sivananda


ref: #{{ inscripcion.id }}