{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

<h3>Centro Internacional de Yoga Sivananda ॐ</h3>
<h1>RETIROS Y CURSOS</h1>

<h2>Normas de Funcionamiento</h2>


<ol>
<li>No está permitido consumir o distribuir drogas dentro del predio. Aquella persona que tenga conocimiento de alguien involucrado en el consumo, distribución o posesión de drogas o productos similares, ha de informar a las personas responsables del Curso inmediatamente. Las drogas en general son perjudiciales para el cuerpo psíquico y por lo tanto, están prohibidas a toda persona que practique la disciplina yóguica.

<li>No está permitido el consumo de  carne, pescado, alcohol, tabaco, cebolla, ajo, café, té negro y huevos dentro del predio.</li>

<li>Retiros y Cursos no son un evento social ni un lugar de recreo, por lo que sugerimos que el comportamiento y actitud, tanto en privado como en público, ayude a mantener una atmósfera espiritual.
</li>
<li>Es obligatorio la asistencia a todas las clases y meditaciones y conferencias. Si por cualquier motivo debes ausentarte por favor informar al profesor a cargo.</li>


<li>El Karma Yoga es parte del programa de los Retiros y Cursos. Es un acercamiento práctico para combatir las tendencias egoístas por parte del estudiante. Cada estudiante debe hacer como mínimo una hora diaria de Karma Yoga.</li>

<li>En caso de cancelación total o parcial. Se descontará un 30% del valor de su estadía, por gastos administrativos previos y de reserva de su lugar.</li>

<li>No se puede salir del Retiro ni del predio del Centro sin previo aviso y Centro cierra sus puertas a las 22.00 horas.</li>

<li>No está  permitido hacer ruido después de las 22.00 horas.</li>

<li>En el lugar destinado a la meditación la atmósfera debe mantenerse pura. Por lo menos, la cara, manos y pies deben estar limpios. Se intentará  no tener conversaciones banales e inútiles en este lugar que debe ser  de adoración y meditación.</li>

<li>No está permitido el uso de ropa transparente ni ajustada.</li>

<li>No está permitido escuchar música rock, etc. en el Centro. Sólo se puede escuchar música de naturaleza Sátvica.</li>

<li>No está  permitido quemar incienso ni encender velas fuera del lugar de meditación. No se debe encender fuego en las habitaciones.</li>

<li>Se recomienda estar en posesión de un Seguro de Viaje, accidentes y enfermedad. Los Centros de Yoga Sivananda no se responsabilizan ni se hace cargo de los gastos que puedan surgir por enfermedades o accidentes.</li>

<li>Los Centros de Yoga Sivananda no se responsabilizan por pérdida o extravío de dinero, prendas de vestir u objetos de valor de los participantes. Cada uno debe ser responsable y cuidar sus pertenencias.</li>

</ol>

<p>
Como estudiante del Retiro o los Cursos, organizado por los Centros Internacionales de Yoga Sivananda, acepto tomar parte en todas las actividades. Asumo total responsabilidad de mi persona y objetos personales e intentar un sincero esfuerzo hacia el progreso personal de acuerdo a las enseñanzas de Swami Sivananda. Comprendo que si falto a alguna de estas reglas se me puede pedir que abandone el Centro, no habiendo devoluciones de importes pagos bajo ninguna circunstancia.
</p>

{% endblock body %}
